.header {
    background-image: url("styles/images/back_image.png");
}


/* le block conteneur */

.marquee-rtl {
    background-color: #4D776C;
    height: 45px;
    overflow: hidden;
    padding: 2px;
    /* masque tout ce qui dépasse */
}


/* le bloc défilant */

.marquee-rtl> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

.banniere {
    color: #FFF;
    line-height: 41px;
    text-align: center;
}

.left {
    background-color: #de2522;
    height: 45px;
    padding: 2px;
}

.right {
    border-right: 1px solid;
    color: #369688;
    height: 45px;
}

.footer-left {
    color: white;
    height: 450px;
}

.footer-right {
    background-color: #369688;
    color: #FFF;
    height: 450px;
    right: 1px;
}

ul>li {
    list-style: none;
    line-height: 25px;
}

.bloc-right-green {
    border: 2px solid #369688;
    color: #369688;
    font-size: 11px;
    margin-top: 15px;
    text-align: center;
    line-height: 21px;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 13px;
    top: 24px;
}

.nav {
    background-color: #F4F4F4;
    height: 50px;
    line-height: 37px;
}

.nav-item {
    color: #369688;
    font-size: 1.1em;
    margin-left: 2%;
}

.span-menu {
    border-right: 1.5px solid #369688;
}

.btn-green {
    background-color: #4D776C;
    color: #fff;
    border: 1px solid #4D776C;
    border-radius: 3px;
    margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary-green {
    background-color: #369688;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 176%;
    margin-left: -35px;
}

.btn-vote {
    background-color: #F19938;
    color: #fff;
    font-size: 17px;
    border: 1px solid #F19938;
    border-radius: 4px;
    margin-top: 14px;
}

.btn-fiche {
    background-color: #4D776C;
    color: #fff;
    border: 1px solid #4D776C;
    margin-top: 35px;
    font-size: 21px;
}

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}

.radio>input {
    display: none;
}

.radio>input>span {
    line-height: 50px;
    height: 50px;
    padding-left: 50px;
    display: block;
    position: relative;
}

.radio-inline input[type=radio] {
    position: absolute;
    margin-left: 0px;
}


/*new add css*/

.header-banner__logo.col-sm-2 {
    float: left;
    right: 30px;
}

span.dmp {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px 5px #333;
}

img.img-responsive.har {
    height: 68px;
}

.col-sm-12.har__nam {
    font-size: 10px;
    left: -40px;
    color: #fff;
}

p.har__nam {
    font-weight: bold;
    text-shadow: 1px 2px 5px #333;
}

.header-banner__text.col-sm-8 {
    top: 16px;
}


/*btn search*/

input.form-control {
    border-radius: 0px;
    border: none;
    padding: 3px 2px 0px 7px;
    height: 3.1em;
}

i.glyphicon.glyphicon-search {
    top: -38px;
    left: 71px;
}

.col-md-12.firt__ban {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.row.corp {
    border: 1px solid;
    border-top: none;
    background-color: #f4f4f4;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(102, 175, 233, .6);
}

.well {
    border: none;
    padding: 0px;
}

img.img-responsive.bas {
    height: 259px;
    position: relative;
}


/*Add new css jbc*/

span.span-menu__fin {
    border-right: 2.5px solid #369688;
}

img.img-responsive.doss {
    position: relative;
}

.text__doss {
    position: absolute;
    z-index: 900;
    margin-top: -44px;
    left: 31px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.text__regl {
    position: absolute;
    z-index: 900;
    margin-top: -130px;
    left: 31px;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
}

span.text__vig {
    font-size: smaller;
    font-weight: normal;
}

span.text__arch {
    font-size: smaller;
    font-weight: normal;
}

a:focus,
a:hover {
    color: #4d776c;
    text-decoration: none;
}

section.tit__bul {
    color: #707070;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 9px;
}


/* footer icon */

ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.network-icon li {
    margin-right: 9px;
    height: 18px;
}

.network-icon>.fab {
    fill: #2962ff;
}

.col-md-3.drt__men {
    background-color: #ffffff;
    width: 21%;
    margin-left: 29px;
    padding-top: 28px;
}

p.ban {
    font-size: 13px;
    text-align: center;
    color: #4d776c;
    margin-top: 8px;
}

.col-md-12.bloc-right__orange {
    border: 0px solid;
    background-color: #f39a28;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 11px;
    padding: 13px;
    height: 61px;
}

hr {
    margin-top: 45em;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

label.radio-inline {
    padding-left: 15px;
    font-weight: 400;
}

.col-sm-12.bloc-right-bas {
    margin-bottom: 14px;
    text-align: center;
    margin-top: 21px;
    color: #716969;
    font-size: 12px;
}

.col-sm-4.no {
    padding: 0;
    text-align: center;
}

.col-sm-4.neut {
    padding: 0;
    text-align: center;
}

.col-sm-4.yes {
    text-align: center;
    padding-left: 0;
}

.col-sm-12.link {
    margin-top: 13px;
    left: 40px;
    text-decoration: underline;
}

.link a {
    color: #000;
}

.col-md-6.footer-left {
    background-size: cover;
    background-repeat: no-repeat;
}

section.all__links {
    display: flex;
    margin-top: 21px;
    font-size: 15px;
    text-decoration: none;
}

.all__links ul {
    text-decoration: none;
    list-style: none;
    line-height: 1.9em;
}

ul a {
    color: #fff;
}

.col-md-9.menu__right {
    margin-top: 28px;
    margin-left: -33px;
}

span.add_foot {
    font-size: 11px;
    font-weight: bold;
}

li span {
    font-size: 13px;
}

.col-sm-12.formul {
    padding: 7px 24px 13px 29px;
}

p.sign {
    font-size: 9px;
    margin-left: 33px;
}

.col-md-3.menu__left {
    margin-top: 28px;
    left: 18px;
}

.form-group.li-margin {
    margin-top: 53px;
}

.saisie #zonetexte:empty {
    font-size: 20px;
}

input.col-md-12 {
    padding: 3px;
    width: 10em;
    color: #000;
}

.li-margin label {
    font-weight: 200;
}

.formul input.form-control {
    margin-bottom: 13px;
}


/*closed add jbc*/


/*New css for misson controle*/

.gche__men span {
    position: relative;
    left: 35px;
    font-size: initial;
    color: #6bb3a9;
}

.col-md-9.gche__men {
    height: 57em;
    border-right: 1px solid;
}

p.obs__tit {
    margin-top: 13px;
    position: relative;
    left: 36px;
    line-height: 2;
    padding-bottom: 37px;
}

.gche__men div .panel-body {
    background-color: #fff;
    margin-bottom: 13px;
    margin-left: 20px;
    box-shadow: 0 0 6px rgb(216, 212, 212);
}

.panel-body p:first-child {
    font-size: 18px;
    margin-top: -6px;
    font-weight: 500;
    line-height: 1;
    padding: 2px;
}

.panel-body p:nth-child(2) {
    font-size: 19px;
    color: #7d7b7b;
    font-weight: bold;
}

.panel-body p:nth-child(3) {
    font-size: 17px;
    font-weight: bold;
    color: #f4a035;
}

.separateur {
    padding-bottom: 60px;
}

.col-sm-12.denonc {
    padding: 21px 24px 15px 29px;
    text-align: center;
    color: #000;
    margin-bottom: 28px;
    margin-top: 46px;
    font-weight: bold;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

span.ban__princ {
    float: left;
    position: relative;
    top: 29px;
    right: 20px;
    font-size: xx-large;
}

.jumbotron.page__miss {
    background: #263238;
    border-radius: 0px !important;
    color: #fff;
    font-weight: 900;
}


/*fake image*/

img.center-image {
    margin-right: 17em;
}


/*fake image*/

.sect__miss span {
    position: relative;
    left: 35px;
    font-size: initial;
    color: #6bb3a9;
}

.sect__miss p {
    margin-top: 13px;
    position: relative;
    left: 36px;
    line-height: 2;
}


/*close css for mission controle*/