.bloc-text{
    background-color: #fff;
}
.bloc-text>div{
    position: absolute;
    right: 20px;
}
.bloc-text li{
    background-color: #F1F1F1;
    border:1px solid #AFAFAF;
    margin-top: 3%;
    height: 50px;
    font-size: medium;
    line-height: 50px;
    color: #747474;
}

.bloc-text li>span {
    margin-left:2%;
    font-size:large;
}
.fa-2x {
    font-size: 2em;
    margin-top: 1%;
    color:#F19938;
    float:right;
    margin-right: 2%;
}


.text{
    text-align:center;
    line-height:40px;
    color: #4D776C;
    font-size:1.5em;
    font-weight:bold;
}



.text-vigueur{
    font-size: 3em;
    color: #707070;
}


