.mini-box{
    background-color: #EEEEEE;
    padding-bottom:40px;
    margin-top:3%;
}
.label-box{
    color: #369688;
    font-size:1.35em;
    flex-flow:wrap;
    margin-left:5%;
}

.dat-box{
    color:#F19938;
    margin-left:5%;
}

.label-box-fa{
    float: right;
}

.img-box{
    margin-top: 15%;
    margin-left:5%
}

.bloc-bottom-text {
    background-color: #fcfeff;
    z-index: 1;
    position: absolute;
    top: 81%;
    left: 11%;
    width: 80%;
    height: 52px;
}

.bloc-denonciation {
    color: #4D776C;
    font-size: 1.5em;
    height: 265px;
    text-align: center;
    /* line-height: 21px; */
    width: 89%;
    /* left: 2px; */
}
.span-denonciation {
    position: absolute;
    top: 58%;
    left: 28%;
    font-weight: bold;
    font-size: 1.25em;
}

.fa-2x {
    font-size: 2em;
    color: #F19938;
    float: right;
    margin-right: 100%;
}

.text {
    text-align: center;
    line-height: 40px;
    color: #4D776C;
    font-size: 1.5em;
    font-weight: bold;
}