.bloc-text{
    background-color: #fff;
}
.bloc-text>div{
    right: 20px;
}
.bloc-text li{
    background-color: #F1F1F1;
    border:1px solid #AFAFAF;
    margin-top: 3%;
    height: 50px;
    font-size: medium;
    line-height: 50px;
    color: #747474;
}

.bloc-text li>span {
    margin-left:2%;
    font-size:large;
}
.fa-2x {
    font-size: 1.75em;
    margin-top: 1%;
    color:#F19938;
    float:right;
    margin-right: 2%;
}
.bloc-bottom-text {
    background-color: #fcfeff;
    z-index: 1;
    position: absolute;
    top: 77%;
    left: 6%;
    width: 84%;
    height: 52px;
}

.text{
    text-align:center;
    line-height:40px;
    color: #4D776C;
    font-size:1.5em;
    font-weight:bold;
}
.img-box>div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bloc-denonciation {
    color: #4D776C;
    font-size: 1.5em;
    height: 265px;
    text-align: center;
    /* line-height: 21px; */
    width: 89%;
    /* left: 2px; */
}
.span-denonciation {
    position: absolute;
    top: 58%;
    left: 28%;
    font-weight: bold;
    font-size: 1.25em;
}

.text-vigueur{
    font-size: 3em;
    color: #707070;
}

.bloc-denonciation-droit{
    color: #369688;
    font-size: 13px;
    height: 80px;
    margin-top: 18px;
    text-align: center;
    line-height: 21px;
}


