.mini-box{
    background-color: #FFFFFF;
    height:145px;
    width: 80%;
    margin-top:15%;
}
.label-box{
    color: #369688;
    font-size:1.35em;
    flex-flow:wrap;
    margin-left:5%;
    margin-top: 5%;
}

.dat-box{
    color:#F19938;
    margin-left:5%;
}

.label-box-fa{
    float: right;
}

.fa-2x {
    font-size: 2em;
    color: #F19938;
    float: right;
    margin-right: 100%;
}

.text {
    text-align: center;
    line-height: 40px;
    color: #4D776C;
    font-size: 1.5em;
    font-weight: bold;
}
.text-vigueur{
    font-size: 3em;
    color: #707070;
    margin-left:2%
}
